#jinja2: lstrip_blocks: True
{# use this single statement to convert yaml to json 
{{ config | to_nice_json }} #}
{{ config | to_nice_json }}
{#
interface:
{% for intf in config.interface %}
  - name: {{ intf.name }}
{% if config.intf.description is defined %}
    description: {{ config.intf.description }}
{% endif %}
    type: {{ config.intf.type }}
    enabled: {{ config.intf.enabled | lower }}
{% if config.intf['ietf-ip:ipv4'] is defined %}
{% set ipv4_addr = config.intf['ietf-ip:ipv4'].address %}
    ietf-ip:ipv4:
      address:
   {% for addr in ipv4_addr %}
        - ip: {{ addr.ip }}
          netmask: {{ addr.netmask }}
   {% endfor %}
{% endif %}
{% endfor %}
#}



